@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?1e50er');
    src:    url('../fonts/icomoon.eot?1e50er#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?1e50er') format('truetype'),
        url('../fonts/icomoon.woff?1e50er') format('woff'),
        url('../fonts/icomoon.svg?1e50er#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}