//fonts
$Roboto : Roboto Condensed;

//blue
$lightBlue : #00acff;
$midBlue : #1190cd;
$darkBlue : #094e6e;

//grey
$white2 : #e5e5e5;
$white3 : #f1f1f1;
$white4 : #f9f9f9;
$warmGrey :#999;
$warmGrey2 : #979797; 
$warmGrey3 : #878787;
$brownishGrey : #666;
$black30 : rgba(20, 13, 13, 0.3); //#140d0d 30%
$black10 : rgba(0, 0, 0, 0.1); //#000 10%
$black26 : rgba(0, 0, 0, 0.26); //#000 26%
$greyishBrown : #444;

$uBase: 15px;
$u4x: 15px 15px 15px 15px;
$rad: 2px;


